

$brand-primary: #f9e830;
$component-active-color: $brand-primary;
$font-family-sans-serif: 'Lato', sans-serif;

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "cover"; 

html,
body {
  height: 100%;
  background-color: #333;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(../img/pcmc_foto.jpg);
}

b {
  color: $brand-primary;
  text-transform: uppercase;
}

.lead {
  font-weight: 400;
}

.masthead-brand {
  font-weight: 700;

  @media (min-width: $screen-sm-min) {
    font-size: 56px;
  }
  
  @media (min-width: $screen-md-min) {
    font-size: 72px;
  }

  a {
    &, &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.masthead-nav {
  li {
    line-height: 30px;
    &.social {
      a {
        // font-size: 30px;
      }
    }
  }
}

.ride-or-die {
  span {
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 5px;
    text-transform: uppercase;
    border-bottom: 10px solid $brand-primary;
    min-width: 90px;
    text-align: left;
  }
}

.index {
  .logo {
    width: 75%;
    @media (min-width: $screen-md-min) {
      width: 75%;
    }
  }
}

.contact {
  .wkr {
    margin-top: 50px;
  }
  .phone-numbers {
    font-weight: 300;
  }
}
