extends ./base.jade

block title
  title Kontakt - Polish Cycle Messenger Championships Wrocław 2016

block active-page
  - var active = 'Kontakt'

block content
  .contact
    .lead
      | Potrzebujesz pomocy, masz pytania? Pisz lub dzwoń:
      .phone-numbers
        br
        span e-mail: 
          a(href='mailto:pcmc2016breslau@gmail.com') pcmc2016breslau@gmail.com
        br
        span tel: 
          a(href='tel:+48732034461') + 48 732 034 461
