extends ./base.jade

block content
  .contact
    .lead
      | Masz sprawę?
      br
      | Chcesz pomóc przy organizacji PCMC?
      br
      | Chcesz zagadać lub postawić piwo?
    .wkr
      b Wrocławscy Kurierzy Rowerowi
      br
      | MACIAS
      .phone-numbers
        br
        span T. 71 359 2009
        br
        span K. 693 024 035
