extends ./base.jade

block title
  title Program - Polish Cycle Messenger Championships Wrocław 2016

block active-page
  - var active = 'Program'

block content
  .program
    h3 11.08.2016 Czwartek
    p
      | 13:00 -  
      a(href="https://www.facebook.com/events/151405945289982/") Lajkra na Tąpadłach  
      | - Ustawka Capitol (ul. Piłsudskiego 67), start 14.
      br 
      | Od 17 każdy może wpaść na browarową rozgrzewkę na Wagenburg (ul. Na Grobli 16)
      | Koniec, meta Wagenburg Breslau. Zapraszamy na after/ognisko/luźne plotki.
    
    h3 12.08.2016 Piątek
    p
      | Oficjalne otwarcie parasola
      br 
      | Brzydki Wrocław Alleycat - Wagenburg (ul. Na Grobli 16). Meta wagenburg.
      br
      | 18:00-21:20 - rejestracja
      br
      | 21:37 - start alleycata!

    h3 13.08.2016 Sobota
    p
      | Mainrace
      br
      | 10:00 - wyjazd w kierunku miejscówki z Wagenburga (ul. Na Grobli 16 )
      br 
      | 11:30 - Start
      br
      | After na Wagonach póki wszyscy nie padną

    h3 14.08.2016 Niedziela
    p
      | 15:00 - otwieramy Positive Day (ul. Bogusławskiego 41)
      br
      | 15:30-16:30 - zapisy na kryterium (lokalizacja tajna)
      br
      | 17:00 - start kryterium
      br 
      | Po kryterium after w Positive Day, a w międzyczasie kto na kryterę nie pojechał oczywiście wali na umór zapewniamy pijackie konkurencja dla nie wymagających

    h3 15.08.2016 Poniedziałek
    p
      a(href="https://www.facebook.com/events/149106195523627/") I Otwarte Cykliczne Zawody na Wrocławskim Welodromie - etap IV
      br
      | Welodrom im. Wernera Józefa Grundmanna (ul. Żmigrodzka 243)
      br
      | 8:30-10:00 - zapisy i jazda w kółko bez sensu
      br
      | 10:00 - start eliminacji i zawody.
