extends ./base.jade

block content
  -
    var sponsors = {
     'WKR': {imgPath: '/assets/img/wkr.jpg', url: '/'},
     'RowerLover': {imgPath: '/assets/img/rowerlover.jpg', url: '/'},
     'Brysch': {imgPath: '/assets/img/brysch.jpg', url: '/'},
     'KajakCustom': {imgPath: '/assets/img/kajak.jpg', url: '/'},
     'Blahol': {imgPath: '/assets/img/blahol.jpg', url: '/'},
     '24box': {imgPath: '/assets/img/24box.jpg', url: '/'},
     'PanPablo': {imgPath: '/assets/img/panpablo.jpg', url: '/'},
     'KinoNH': {imgPath: '/assets/img/kino_nh.jpg', url: '/'},
     'SexAndPedal': {imgPath: '/assets/img/sex&pedal.jpg', url: '/'}
    };

  .sponsors
    ul.list-unstyled
      each data, name in sponsors
        li
          img(src=data.imgPath)
